<template>
  <div class="transaction">
    <div class="col icon-col">
      <div class="icon" :class="direction">
        <font-awesome-icon :icon="iconClass" />
      </div>
    </div>
    <div class="col msg-col">
      <div class="party">{{ party }}</div>
      <div class="message" v-if="transaction.description">{{ description }}</div>
    </div>
    <div class="col amount-col">
      <div class="amount">{{ sign }}<span class="money">{{ transaction.amount }}</span></div>
      <div class="time">{{ transaction.dateTime.toLocaleString(DateTime.TIME_SIMPLE) }}</div>
    </div>
  </div>
</template>

<script setup>
import { computed } from 'vue';
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome';
import { useGameStore } from '@/stores/game';
import { useI18n } from 'vue-i18n';
import { DateTime } from 'luxon';

const { t } = useI18n({ useScope: 'global' });

const gameStore = useGameStore();

const props = defineProps({
  transaction: Object,
  isBankTransaction: Boolean
});

const iconClass = computed(() => {
  const dir = direction.value === 'from' ? 'to' : 'from';
  return `fa-solid fa-arrow-right-${dir}-bracket`;
});

const direction = computed(() => {
  if (props.isBankTransaction) {
    return props.transaction.from === 'bank' ? 'to' : 'from';
  } else {
    return props.transaction.from === gameStore.player.id ? 'to' : 'from';
  }
});

const party = computed(() => {
  if (props.isBankTransaction) {
    return gameStore.room.players.find(plr => plr.id === props.transaction[direction.value]).name;
  } else {
    if (direction.value === 'from') {
      return props.transaction.from === 'bank' ? t('transactions.list.bank') : gameStore.room.players.find(plr => plr.id === props.transaction.from).name;
    } else {
      return props.transaction.to === 'bank' ? t('transactions.list.bank') : gameStore.room.players.find(plr => plr.id === props.transaction.to).name;
    }
  }
});

const sign = computed(() => {
  return direction.value === 'from' ? '+' : '-';
});

const description = computed(() => {
  if (props.transaction.description.startsWith('t:')) {
    return t('transactions.list.' + props.transaction.description.slice(2));
  }
  return props.transaction.description;
});
</script>

<style scoped lang="scss">
.transaction {
  display: flex;
  gap: .8rem;

  .col {
    min-height: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .3rem;

    @mixin top {
      font-weight: 700;
    }

    @mixin bottom {
      font-size: .8rem;
      color: var(--mb-card-text-secondary-color);
      font-weight: 500;
    }

    .icon {
      width: 3rem;
      height: 3rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 1rem;
      font-size: 1.2rem;
      color: var(--mb-transaction-icon-color);

      &.from {
        background: var(--mb-transaction-from-icon-background-color);
        box-shadow: 0 0 0.4rem var(--mb-transaction-from-icon-shadow-color);
      }

      &.to {
        background: var(--mb-transaction-to-icon-background-color);
        box-shadow: 0 0 0.4rem var(--mb-transaction-to-icon-shadow-color);
      }
    }

    &.msg-col {
      text-align: left;
      flex: 1 1 auto;
      overflow-x: hidden;
      word-wrap: break-word;
      overflow-y: clip;

      .party {
        @include top;
      }

      .message {
        @include bottom;
      }
    }

    &.amount-col {
      text-align: right;
      width: 5.5rem;

      .amount {
        @include top;
      }

      .time {
        @include bottom;
      }
    }
  }
}
</style>
