<template>
  <div class="transactions-list">
    <div class="empty" v-if="transactions.length === 0">
      {{ $t('transactions.list.list_empty') }}
    </div>
    <transaction
        v-else
        v-for="transaction in transactions"
        :transaction="transaction"
        :is-bank-transaction="onlyBankTransactions"
    />
  </div>
</template>

<script setup>
import Transaction from '@/components/transactions/Transaction.vue';

const props = defineProps({
  transactions: Array,
  onlyBankTransactions: Boolean
});
</script>

<style scoped lang="scss">
.transactions-list {
  display: flex;
  flex-direction: column;
  gap: .7rem;
}
</style>
