<template>
  <div class="color-scheme">
    <select-field
        :label="t('auth.color_scheme.label')"
        :options="selectorOptions"
        v-model="scheme"
        :small="true"
        :hide-arrow="true"
        class="color-scheme-selector"
    />
  </div>
</template>

<script setup>
import { computed, onMounted, ref, watch } from 'vue';
import { useI18n } from 'vue-i18n';
import SelectField from '@/components/inputs/SelectField.vue';

const { t } = useI18n({ useScope: 'global' });

const scheme = ref('');

const selectorOptions = computed(() => [
  {
    name: '☀️ ' + t('auth.color_scheme.selector.light'),
    value: 'light'
  },
  {
    name: '🌙 ' + t('auth.color_scheme.selector.dark'),
    value: 'dark'
  },
  {
    name: '🔄 ' + t('auth.color_scheme.selector.auto'),
    value: 'auto'
  }
]);

onMounted(() => {
  scheme.value = localStorage.getItem('mb-color-scheme');
  if (!scheme.value) {
    scheme.value = 'light';
    localStorage.setItem('mb-color-scheme', scheme.value);
  }
  switchScheme();
});

watch(scheme, (newVal) => {
  localStorage.setItem('mb-color-scheme', newVal);
  switchScheme();
});

const switchScheme = () => {
  const bodyClasses = document.body.classList;

  switch (scheme.value) {
    case 'light':
      bodyClasses.remove('scheme-dark');
      bodyClasses.add('scheme-light');
      break;
    case 'dark':
      bodyClasses.remove('scheme-light');
      bodyClasses.add('scheme-dark');
      break;
    default:
      bodyClasses.remove('scheme-dark', 'scheme-light');
  }
};
</script>

<style scoped lang="scss">
.color-scheme-selector {
  width: 7rem;

  :deep(select) {
    word-spacing: .3rem;
  }
}
</style>
