<template>
  <div class="change-locale">
    <select-field
        :label="t('auth.language')"
        :options="localeOptions"
        v-model="$i18n.locale"
        :small="true"
        :hide-arrow="true"
    />
  </div>
</template>

<script setup>
import { nextTick, onMounted, ref, watch } from 'vue';
import { useI18n } from 'vue-i18n';
import SelectField from '@/components/inputs/SelectField.vue';

const { t, locale } = useI18n({ useScope: 'global' });

const localeOptions = [
  {
    name: '🇺🇸 English',
    value: 'en'
  },
  {
    name: '🇩🇪 Deutsch',
    value: 'de'
  },
  {
    name: '🇷🇺 Русский',
    value: 'ru'
  }
];

const init = ref(true);
watch(locale, (newVal) => {
  if (!init.value) {
    localStorage.setItem('mb-locale', newVal);
  }
});

onMounted(() => {
  const availableLanguages = localeOptions.map(lang => lang.value);
  if (availableLanguages.indexOf(locale.value) === -1) {
    locale.value = 'en';
  }
  nextTick(() => {
    init.value = false;
  });
});
</script>

<style scoped lang="scss">
.change-locale {
  width: 7rem;

  :deep(select) {
    word-spacing: .3rem;
  }
}
</style>
