<template>
  <app-header />
  <div class="main col-wrap">
    <router-view />
  </div>
  <notification-area />
  <confirmation-overlay />
</template>

<script setup>
import { onBeforeMount } from 'vue';
import AppHeader from '@/components/AppHeader.vue';
import NotificationArea from '@/components/notifications/NotificationArea.vue';
import ConfirmationOverlay from '@/components/ConfirmationOverlay.vue';
import { useUserStore } from '@/stores/user';

const userStore = useUserStore();

onBeforeMount(() => {
  userStore.load();
});
</script>

<style lang="scss">
@import url('normalize.css');
@import url('@/styles/_color-schemes.scss');
@import url('@/../public/fonts/fonts.css');

body {
  background-color: var(--mb-body-bg-color);
}

#app {
  font-family: 'Plus Jakarta Sans', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: var(--mb-font-color);
  display: flex;
  flex-direction: column;
  align-items: center;

  .col-wrap {
    width: 100%;
    min-width: 320px;
    max-width: 450px;
    padding: 0 1.5rem;
    box-sizing: border-box;
  }

  .main {
    min-height: 100%;
    margin: 1.5rem 0;

    display: flex;
    flex-direction: column;
    gap: 2rem;

    .view-header {
      text-align: left;
      font-size: 1.5rem;
      font-weight: 700;
      margin-bottom: .5rem;
    }
  }

  .money:before {
    font-family: 'Jakarta Mono', sans-serif;
    content: '\20a9';
    display: inline-block;
    padding-right: 0.1rem;
  }
}
</style>
