<template>
  <button :disabled="disabled" :class="buttonStyle">
    <slot></slot>
  </button>
</template>

<script setup>
defineProps({
  disabled: Boolean,
  buttonStyle: String
})
</script>

<style scoped lang="scss">
@mixin color($idle-color, $focus-color) {
  color: var(--mb-color-ctrl-default-text);
  background: $idle-color;
  border-color: $idle-color;

  &:not([disabled]):hover,
  &:not([disabled]):focus {
    background: $focus-color;
    border-color: $focus-color;
  }

  &.outline {
    color: $idle-color;
    background: transparent;
    border-color: $idle-color;

    &:not([disabled]):hover,
    &:not([disabled]):focus {
      background: $idle-color;
      color: var(--mb-color-ctrl-default-text);
    }
  }
}

button {
  $transition-time: .15s;

  padding: calc(0.8rem - 2px);
  border: 1px solid;
  border-radius: 0.5rem;
  font-size: 1.3rem;
  font-weight: 600;
  transition: color $transition-time ease, background $transition-time ease, border-color $transition-time ease;
  cursor: pointer;

  &.small {
    font-size: 1.1rem;
    padding: calc(0.6rem - 2px);
  }

  @include color(var(--mb-color-ctrl-default-normal), var(--mb-color-ctrl-default-focused));

  &.success {
    @include color(var(--mb-color-ctrl-success-normal), var(--mb-color-ctrl-success-focused));
  }

  &.danger {
    @include color(var(--mb-color-ctrl-danger-normal), var(--mb-color-ctrl-danger-focused));
  }

  &[disabled] {
    background: var(--mb-color-ctrl-disabled-background);
    border-color: var(--mb-color-ctrl-disabled-background);
    color: var(--mb-color-ctrl-disabled-text);
    cursor: default;
  }
}
</style>
