<template>
  <base-button :disabled="disabled" :button-style="buttonStyle">
    <span class="icon" :class="text ? '' : 'no-text'">
      <slot></slot>
    </span>
    {{ text }}
  </base-button>
</template>

<script setup>
import BaseButton from '@/components/controls/BaseButton.vue';

defineProps({
  text: String,
  disabled: Boolean,
  buttonStyle: String
});
</script>

<style scoped lang="scss">
.icon:not(:empty):not(.no-text) {
  margin-right: 0.3rem;
}
</style>
