<template>
  <base-button :disabled="disabled" :button-style="buttonStyle">
    {{ text }}
  </base-button>
</template>

<script setup>
import BaseButton from '@/components/controls/BaseButton.vue';

defineProps({
  text: String,
  disabled: Boolean,
  buttonStyle: String
});
</script>

<style scoped lang="scss">
</style>
