<template>
  <div class="input-field">
    <label :class="cssClass">
      <div class="label">
        <span>{{ label }}</span>
        <slot v-if="enableSlot"></slot>
      </div>
      <input
          type="number"
          placeholder="0"
          pattern="[0-9]*"
          :value="modelValue"
          :maxlength="maxLength"
          @input="updateValue($event)"
          @keydown="handleKeyPress($event)"
      >
    </label>
  </div>
</template>

<script setup>
import { computed, ref } from 'vue';

const props = defineProps({
  label: String,
  required: Boolean,
  modelValue: Number,
  maxLength: Number,
  enableSlot: Boolean
});

const emit = defineEmits(['update:modelValue']);

const cssClass = computed(() => {
  return props.required ? 'required' : '';
});

function handleKeyPress(e) {
  const allowedKeys = [
    '0',
    '1',
    '2',
    '3',
    '4',
    '5',
    '6',
    '7',
    '8',
    '9',
    'Backspace',
    'ArrowUp',
    'ArrowDown',
    'ArrowLeft',
    'ArrowRight',
    'Tab'
  ];
  if (!allowedKeys.includes(e.key)) {
    return e.preventDefault();
  }
  return e;
}

function updateValue(e) {
  const newInput = e.target.value;
  const newValNum = e.target.valueAsNumber;

  if (!isNaN(newValNum)) {
    emit('update:modelValue', newValNum);
  } else {
    if (newInput === '') {
      emit('update:modelValue', 0);
    }
  }
}
</script>

<style scoped lang="scss">
label {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 1rem;

  &.required {
    font-weight: 700;
  }

  .label {
    display: flex;
    justify-content: space-between;
  }

  input {
    margin: 0.5rem 0;
    font-size: 1.2rem;
    border: 0;
    border-radius: 0.5rem;
    padding: 0.7rem;
    background: var(--mb-input-background-color);
    color: var(--mb-input-text-color);
  }
}
</style>
