<template>
  <div class="select-field">
    <label :class="cssClass">
      <div class="label">
        <span>{{ label }}</span>
      </div>
      <select
          :value="props.modelValue"
          @change="$emit('update:modelValue', $event.target.value)"
      >
        <option v-for="option in options"
                :value="option.value"
                :selected="modelValue === option.value"
        >{{ option.name }}</option>
      </select>
    </label>
  </div>
</template>

<script setup>
import { computed, onMounted } from 'vue';

const props = defineProps({
  label: String,
  required: Boolean,
  modelValue: String,
  options: Array,
  small: Boolean,
  hideArrow: Boolean
});
const emit = defineEmits(['update:modelValue']);

const cssClass = computed(() => {
  const classes = [];

  if (props.required) classes.push('required');
  if (props.small) classes.push('small');
  if (props.hideArrow) classes.push('no-arrow');

  return classes;
});

onMounted(() => {
  if (props.options.length > 0 && !props.modelValue) {
    emit('update:modelValue', props.options[0].value)
  }
})
</script>

<style scoped lang="scss">
label {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 1rem;

  &.required {
    font-weight: 700;
  }

  .label {
    display: flex;
    justify-content: space-between;
  }

  select {
    margin: 0.5rem 0;
    font-size: 1.2rem;
    border: 0;
    border-radius: 0.5rem;
    padding: 0.7rem;
    appearance: none;
    background-repeat: no-repeat;
    background-position: right 0.7rem center;
    background-image: var(--mb-input-select-handle-svg-path);
    background-color: var(--mb-input-background-color);
    background-size: 1.2rem;
    color: var(--mb-input-text-color);
  }

  &.small {
    font-size: 0.7rem;

    select {
      font-size: .9rem;
      padding: .5rem;
      background-size: 1rem;
      line-height: 1.35;
    }
  }

  &.no-arrow {
    select {
      background-image: none !important;
    }
  }
}
</style>
