<template>
  <div class="selector">
    <div
        class="option"
        v-for="option in options"
        :class="value === option.value ? 'selected' : ''"
        @click="updateValue(option.value)"
        @keyup.enter.space="updateValue(option.value)"
        tabindex="0"
    >
      {{ $t(option.text) }}
    </div>
  </div>
</template>

<script setup>
import { onMounted, ref } from 'vue';

const props = defineProps({
  options: Array,
  modelValue: String,
  defaultValue: String
});
const value = ref('');
const emit = defineEmits(['update:modelValue']);

onMounted(() => {
  if (props.defaultValue) {
    updateValue(props.defaultValue);
  }
});

function updateValue(newVal) {
  if (value.value !== newVal && props.options.find(opt => opt.value === newVal)) {
    value.value = newVal;
    emit('update:modelValue', value.value);
  }
}
</script>

<style scoped lang="scss">
.selector {
  display: flex;
  flex-direction: row;

  .option {
    $transition-time: .15s;

    padding: calc(0.6rem - 2px);
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
    background: transparent;
    transition: color $transition-time ease, background $transition-time ease, border-color $transition-time ease;
    border: 1px solid var(--mb-color-ctrl-default-normal);
    border-radius: .5rem;
    color: var(--mb-color-ctrl-default-normal);
    flex: 1 0 1rem;

    $border-radius: .5rem;
    &:first-child:not(:last-child) {
      border-radius: $border-radius 0 0 $border-radius;
    }

    &:last-child:not(:first-child) {
      border-radius: 0 $border-radius $border-radius 0;
    }

    &:hover,
    &:focus {
      background: var(--mb-color-ctrl-default-focused);
      border-color: var(--mb-color-ctrl-default-focused);
      color: var(--mb-color-ctrl-default-text);
    }

    &.selected {
      background: var(--mb-color-ctrl-default-normal);
      border-color: var(--mb-color-ctrl-default-normal);
      color: var(--mb-color-ctrl-default-text);
    }
  }
}
</style>
