<template>
  <div class="input-field">
    <label :class="cssClass">
      <div class="label">
        <span>{{ label }}</span>
        <span class="chars-left" v-if="maxLength && displayLimit">{{ charsLeft }}</span>
        <slot v-else-if="enableSlot"></slot>
      </div>
      <input
          type="text"
          :placeholder="placeholder"
          :value="props.modelValue"
          :maxlength="maxLength"
          @input="$emit('update:modelValue', $event.target.value);"
      >
    </label>
  </div>
</template>

<script setup>
import { computed } from 'vue';

const props = defineProps({
  label: String,
  placeholder: String,
  required: Boolean,
  modelValue: String,
  maxLength: Number,
  displayLimit: Boolean,
  enableSlot: Boolean
});
const emit = defineEmits(['update:modelValue']);

const cssClass = computed(() => {
  return props.required ? 'required' : '';
});
const charsLeft = computed(() => {
  return props.maxLength - props.modelValue.length;
});
</script>

<style scoped lang="scss">
label {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 1rem;

  &.required {
    font-weight: 700;
  }

  .label {
    display: flex;
    justify-content: space-between;
  }

  input {
    margin: 0.5rem 0;
    font-size: 1.2rem;
    border: 0;
    border-radius: 0.5rem;
    padding: 0.7rem;
    background: var(--mb-input-background-color);
    color: var(--mb-input-text-color);
  }
}
</style>
