<template>
  <div class="notification-toast" :class="displayStyle">
    <text-notification-body v-if="type === 'text'" :text="content" :params="params"></text-notification-body>
    <transaction-notification-body v-if="type === 'transaction'" :content="content"></transaction-notification-body>
  </div>
</template>

<script setup>
import TextNotificationBody from '@/components/notifications/TextNotificationBody.vue';
import TransactionNotificationBody from '@/components/notifications/TransactionNotificationBody.vue';

defineProps({
  type: String,
  content: [String, Object],
  params: Object,
  displayStyle: String
});
</script>

<style scoped lang="scss">
  .notification-toast {
    background: var(--mb-notification-background-color);
    color: var(--mb-notification-text-primary-color);
    padding: 1.1rem;
    border-radius: 1rem;
    border: 1px solid var(--mb-notification-border-color);
    box-sizing: border-box;
    width: 100%;
    cursor: pointer;

    &.info {
      box-shadow: 0 0.3em 1em var(--mb-notification-info-shadow-color);
      border-color: var(--mb-notification-info-border-color);
    }

    &.success {
      box-shadow: 0 0.3em 1em var(--mb-notification-success-shadow-color);
      border-color: var(--mb-notification-success-border-color);
    }

    &.error {
      box-shadow: 0 0.3em 1em var(--mb-notification-error-shadow-color);
      border-color: var(--mb-notification-error-border-color);
    }
  }
</style>
