<template>
  <div class="notification-area col-wrap">
    <transition-group name="slide-fade">
      <notification-toast
          v-for="notification in notifications"
          :key="notification.id"
          :type="notification.type"
          :content="notification.content"
          :params="notification.params"
          :display-style="notification.displayStyle"
          @click.once="dismiss(notification.id)"
      ></notification-toast>
    </transition-group>
  </div>
</template>

<script setup>
import { storeToRefs } from 'pinia';
import NotificationToast from '@/components/notifications/NotificationToast.vue';
import { useNotificationStore } from '@/stores/notification';

const notificationStore = useNotificationStore();
const { notifications } = storeToRefs(notificationStore);

function dismiss(id) {
  notificationStore.dismissNotification(id);
}
</script>

<style scoped lang="scss">
.notification-area {
  position: absolute;
  top: 0.5rem;
  z-index: 999;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  align-items: center;
}

.slide-fade-move,
.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: transform 0.25s ease, opacity 0.25s ease;
}

.slide-fade-enter-from {
  transform: translateY(-3rem);
  opacity: 0;
}

.slide-fade-leave-to {
  opacity: 0;
}

.slide-fade-leave-active:not(:last-child) {
  position: absolute;
  width: calc(100% - 3rem);
}
</style>
