<template>
  <div class="text-notification">
    <span class="error" v-if="isError">
      <font-awesome-icon icon="fa-solid fa-circle-exclamation" />
    </span>
    {{ message }}
  </div>
</template>

<script setup>
import { computed } from 'vue';
import { useI18n } from 'vue-i18n';
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome';

const { t } = useI18n({ useScope: 'global' });

const props = defineProps({
  text: String,
  params: Object
});

const message = computed(() => {
  return props.text.startsWith('t:') ? t(props.text.split(':')[1], props.params) : props.text;
});

const isError = computed(() => {
  return props.text.startsWith('t:errors.');
})
</script>

<style scoped lang="scss">
.text-notification {
  font-weight: 600;

  .error {
    color: var(--mb-notification-error-text-color);
    margin-right: .3rem;
  }
}
</style>
