<template>
  <div class="transaction-notification">
    <div class="type"><font-awesome-icon :icon="iconClass" class="transaction-icon" />{{ type }}</div>
    <div class="amount">{{ amount.sign }}<span class="money">{{ amount.number }}</span></div>
    <div class="message" v-if="content.message">&laquo;{{ content.message }}&raquo;</div>
  </div>
</template>

<script setup>
import { computed } from 'vue';
import { useI18n } from 'vue-i18n';
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome';

const { t } = useI18n({ useScope: 'global' });

const props = defineProps({
  content: Object
});

const type = computed(() => {
  const typeProp = props.content.type;
  const partyProp = props.content.party;
  let party;
  switch(partyProp) {
    case 'party.you':
      party = t('notifications.party.you.' + props.content.direction);
      break;
    case 'party.bank':
      party = t('notifications.party.bank.' + props.content.direction);
      break;
    default:
      party = partyProp;
  }

  let keyPath = 'notifications.';
  if (typeProp.startsWith('t:')) {
    keyPath += typeProp.slice(2);
  } else {
    if ((typeProp === 'bank_transfer' && props.content.direction === 'from') || typeProp === 'incoming_transfer') {
      keyPath += 'received.';
    } else {
      keyPath += 'sent.';
    }

    if ([ 'party.you', 'party.bank' ].includes(partyProp)) {
      keyPath += 'from_party';
    } else {
      keyPath += 'from_player';
    }
  }

  return t(keyPath, { party });
});

const iconClass = computed(() => {
  return 'fa-solid ' + ([ 't:initial_funds', 't:remaining_funds', 'bank_transfer' ].includes(props.content.type)
      ? 'fa-building-columns'
      : 'fa-wallet');
})

const amount = computed(() => {
  const typeProp = props.content.type;
  const result = {
    sign: '',
    number: props.content.amount
  }
  if ((typeProp === 'bank_transfer' && props.content.direction === 'from') || [ 't:remaining_funds', 'incoming_transfer' ].includes(typeProp)) {
    result.sign = '+';
  } else {
    result.sign = '-';
  }
  return result;
});

const direction = computed(() => {
  if (props.content.direction === 'from') {
    return 'from';
  } else {
    return 'to';
  }
});
</script>

<style scoped lang="scss">
.transaction-notification {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .type {
    color: var(--mb-notification-text-secondary-color);
    font-size: .85rem;

    .transaction-icon {
      margin-right: .4rem;
    }
  }
  .amount {
    font-size: 1.7rem;

    .money {
      font-weight: 600;
      margin-left: 0.3rem;

      &:before {
        font-weight: 500;
        padding-right: 0.3rem;
      }
    }
  }
  .message {
    font-style: italic;
  }
}
</style>
