@mixin light-scheme {
  --mb-body-bg-color: #fff;
  --mb-font-color: #2c3e50;

  --mb-header-background-color: #c95050;
  --mb-header-text-color: #fff;

  --mb-section-header-color: #2c3e50;

  --mb-card-header-color: #7d818b;
  --mb-card-background-color: #fff;
  --mb-card-border-color: #eee;
  --mb-card-text-primary-color: #444;
  --mb-card-text-secondary-color: #777;
  --mb-card-shadow-color: rgb(0 0 0 / 15%);

  --mb-dialog-background-color: #fff;
  --mb-dialog-shadow-color: rgba(0, 0, 0, 0.5);
  --mb-dialog-overlay-background-color: rgba(0, 0, 0, 0.6);

  --mb-transaction-icon-color: #514343;
  --mb-transaction-from-icon-background-color: #34f6f2;
  --mb-transaction-from-icon-shadow-color: #34f6f29e;
  --mb-transaction-to-icon-background-color: #ffddd2;
  --mb-transaction-to-icon-shadow-color: #ffddd29e;

  --mb-bill-button-background-color: #f4f4f4;

  --mb-notification-text-primary-color: #2c3e50;
  --mb-notification-text-secondary-color: #777;
  --mb-notification-background-color: #fff;
  --mb-notification-border-color: #ddd;
  --mb-notification-info-border-color: #ddd;
  --mb-notification-info-shadow-color: rgba(0, 0, 0, 0.3);
  --mb-notification-success-border-color: #c1ffc1;
  --mb-notification-success-shadow-color: rgba(0, 115, 0, 0.3);
  --mb-notification-error-border-color: #ffb9b9;
  --mb-notification-error-shadow-color: rgba(255, 0, 0, 0.3);
  --mb-notification-error-text-color: #c72929;

  --mb-room-qr-background-color: #fff;

  --mb-color-ctrl-default-normal: #1e96fc;
  --mb-color-ctrl-default-focused: #51aaff;
  --mb-color-ctrl-default-text: #fff;
  --mb-color-ctrl-success-normal: #439b43;
  --mb-color-ctrl-success-focused: #54bb54;
  --mb-color-ctrl-danger-normal: #dd4d4d;
  --mb-color-ctrl-danger-focused: #ff5959;
  --mb-color-ctrl-disabled-text: #606060;
  --mb-color-ctrl-disabled-background: #ece8ef;

  --mb-link-color: #646cff;
  --mb-link-color-hover: #747bff;

  --mb-input-background-color: #ece8ef;
  --mb-input-text-color: #000;
  --mb-input-select-handle-svg-path: url('../../public/images/arrow.svg');
}

@mixin dark-scheme {
  --mb-body-bg-color: #242424;
  --mb-font-color: #efefef;

  --mb-section-header-color: #f0f8ff;

  --mb-card-header-color: #adb1bc;
  --mb-card-background-color: #181818;
  --mb-card-border-color: #141414;
  --mb-card-text-primary-color: #e4e4e4;
  --mb-card-text-secondary-color: #b6b6b6;

  --mb-dialog-background-color: #2c2c2c;

  --mb-transaction-from-icon-background-color: #34f6f2;
  --mb-transaction-from-icon-shadow-color: transparent;
  --mb-transaction-to-icon-background-color: #ffddd2;
  --mb-transaction-to-icon-shadow-color: transparent;

  --mb-bill-button-background-color: #0e0e0e;

  --mb-color-ctrl-default-normal: #1e96fc;
  --mb-color-ctrl-default-focused: #51aaff;
  --mb-color-ctrl-success-normal: #52c052;
  --mb-color-ctrl-success-focused: #56d156;
  --mb-color-ctrl-danger-normal: #ff5959;
  --mb-color-ctrl-danger-focused: #fe7878;
  --mb-color-ctrl-disabled-text: #4b4b4b;
  --mb-color-ctrl-disabled-background: #b3b1b6;

  --mb-link-color: #8b91ff;
  --mb-link-color-hover: #535bf2;

  --mb-input-background-color: #161616;
  --mb-input-text-color: #fff;
  --mb-input-select-handle-svg-path: url('../../public/images/arrow-white.svg');
}

:root {
  color-scheme: light dark;

  @include light-scheme();

  body {
    &.scheme-light {
      @include light-scheme();
    }
    &.scheme-dark {
      @include dark-scheme();
    }
  }

  @media (prefers-color-scheme: dark) {
    & {
      @include dark-scheme();
    }
  }
}
