@use "sass:meta";

@mixin color-schemes($properties...) {
  @each $property, $colors in meta.keywords($properties) {
    #{$property}: nth($colors, 1);
  }

  @media(prefers-color-scheme: light) {
    & {
      @each $property, $colors in meta.keywords($properties) {
        #{$property}: nth($colors, 2);
      }
    }
  }
}
