<template>
  <header>
    <div class="logo" v-if="!gameStore.inGame"></div>
    <div class="game-info col-wrap" v-else>
      <router-link to="wallet" class="link">
        <span class="icon">
          <font-awesome-icon icon="fa-solid fa-wallet" />
        </span>
        <span class="money">{{ gameStore.player.funds }}</span>
      </router-link>
      <router-link to="room" class="link">
        <span class="icon">
          <font-awesome-icon icon="fa-solid fa-door-open" />
        </span>
        <span class="room-code">{{ gameStore.room.code }}</span>
      </router-link>
    </div>
  </header>
</template>

<script setup>
import { useGameStore } from '@/stores/game';

const gameStore = useGameStore();
</script>

<style scoped lang="scss">
header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4rem;
  padding: 0.5rem;
  box-sizing: border-box;
  background: var(--mb-header-background-color);
  color: var(--mb-header-text-color);

  .icon {
    margin-right: .7rem;
  }

  .logo {
    background: url('/images/logo.svg') no-repeat center center;
    height: 3rem;
    width: 100%;
  }

  .game-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.1rem;
    font-weight: 500;

    .link {
      text-decoration: none;
      color: var(--mb-header-text-color);
    }
  }
}
</style>
