<template>
<div class="card">
  <header v-if="title">{{ title }}</header>
  <slot></slot>
</div>
</template>

<script setup>
defineProps({
  title: String
});
</script>

<style scoped lang="scss">
.card {
  border-radius: 1rem;
  box-shadow: 0 0.3rem 1.5rem var(--mb-card-shadow-color);
  padding: 1.5rem;
  text-align: left;
  border: 1px solid var(--mb-card-border-color);
  background-color: var(--mb-card-background-color);
  width: 100%;
  box-sizing: border-box;

  header {
    font-size: 1.2rem;
    font-weight: 600;
    padding-right: 0.4rem;
    margin-bottom: 0.2rem;
    color: var(--mb-card-header-color);
  }

  &.mini {
    header {
      font-size: 1rem;
    }
  }
}
</style>
