<template>
  <transition name="fade" @enter="showDialog = true">
    <div class="confirmation-overlay" v-if="notificationStore.confirmation.show" @click.self="decline">
      <transition name="slide-fade" @leave="notificationStore.hideConfirmationDialog">
        <div class="confirmation-dialog col-wrap" v-if="showDialog">
          <div class="header">{{ headerOrDefault }}</div>
          <div class="text">{{ textOrEmpty }}</div>
          <text-button
              :button-style="acceptStyleOrDefault"
              :text="$t(acceptTextOrDefault)"
              @click="accept"
          />
          <text-button
              button-style="outline"
              :text="$t(declineTextOrDefault)"
              @click="decline"
          />
        </div>
      </transition>
    </div>
  </transition>
</template>

<script setup>
import { computed, ref } from 'vue';
import { useI18n } from 'vue-i18n';
import TextButton from '@/components/controls/TextButton.vue';
import { useNotificationStore } from '@/stores/notification';

const { t } = useI18n({ useScope: 'global' });

const showDialog = ref(false);
const notificationStore = useNotificationStore();

const headerOrDefault = computed(() => {
  if (!notificationStore.confirmation.header) return t('confirmation.defaults.header');

  return notificationStore.confirmation.headerParams
      ? t(notificationStore.confirmation.header, notificationStore.confirmation.headerParams)
      : t(notificationStore.confirmation.header);
});

const textOrEmpty = computed(() => {
  if (!notificationStore.confirmation.text) return '';

  return notificationStore.confirmation.textParams
      ? t(notificationStore.confirmation.text, notificationStore.confirmation.textParams)
      : t(notificationStore.confirmation.text);
});

const acceptTextOrDefault = computed(() => {
  return notificationStore.confirmation.acceptButtonText || 'confirmation.defaults.accept';
});

const acceptStyleOrDefault = computed(() => {
  return 'outline ' + (notificationStore.confirmation.acceptButtonStyle || 'success');
});

const declineTextOrDefault = computed(() => {
  return notificationStore.confirmation.declineButtonText || 'confirmation.defaults.decline';
});

async function accept() {
  await notificationStore.confirmation.acceptAction();
  showDialog.value = false;
}

async function decline() {
  await notificationStore.confirmation.declineAction();
  showDialog.value = false;
}
</script>

<style scoped lang="scss">
.confirmation-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 997;
  opacity: 1;
  backdrop-filter: blur(.2rem);
  background: var(--mb-dialog-overlay-background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  .confirmation-dialog {
    display: flex;
    gap: .8rem;
    flex-direction: column;
    background: var(--mb-dialog-background-color);
    flex: 0 1 auto;
    border-radius: .8rem .8rem 0 0;
    box-shadow: 0 0 .9rem var(--mb-dialog-shadow-color);
    padding: 1.5rem !important;

    .header {
      text-align: left;
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 2rem;
    }

    .text {
      text-align: left;
      line-height: 1.6rem;
      margin-bottom: 0.5rem;
      font-size: 1.1rem;
    }
  }
}

.fade-move,
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.25s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.slide-fade-move,
.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: transform 0.25s ease, opacity 0.25s ease;
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateY(15rem);
  opacity: 0;
}
</style>
