<template>
  <div class="section-header">
    <div class="text">{{ $t(text) }}</div>
    <div class="link" v-if="link">
      <router-link :to="link">{{ $t(linkText) }}</router-link>
    </div>
  </div>
</template>

<script setup>
defineProps({
  text: String,
  link: String,
  linkText: String
})
</script>

<style scoped lang="scss">
.section-header {
  display: flex;
  justify-content: space-between;
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--mb-section-header-color);
  margin-top: .6rem;
  margin-bottom: .2rem;

  .link a {
    transition: color .15s ease;
    text-decoration: none;
    color: var(--mb-color-ctrl-default-normal);

    &:hover, &:focus {
      color: var(--mb-color-ctrl-default-focused);
    }
  }
}
</style>
