/* Plus Jakarta Sans */
@font-face {
  font-family: 'Plus Jakarta Sans';
  src: local('Plus Jakarta Sans Regular'), local('PlusJakartaSans-Regular'),
  url('/fonts/plus-jakarta-sans/PlusJakartaSans-Regular.woff2') format('woff2'),
  url('/fonts/plus-jakarta-sans/PlusJakartaSans-Regular.woff') format('woff'),
  url('/fonts/plus-jakarta-sans/PlusJakartaSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: local('Plus Jakarta Sans Italic'), local('PlusJakartaSans-Italic'),
  url('/fonts/plus-jakarta-sans/PlusJakartaSans-Italic.woff2') format('woff2'),
  url('/fonts/plus-jakarta-sans/PlusJakartaSans-Italic.woff') format('woff'),
  url('/fonts/plus-jakarta-sans/PlusJakartaSans-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: local('Plus Jakarta Sans Medium'), local('PlusJakartaSans-Medium'),
  url('/fonts/plus-jakarta-sans/PlusJakartaSans-Medium.woff2') format('woff2'),
  url('/fonts/plus-jakarta-sans/PlusJakartaSans-Medium.woff') format('woff'),
  url('/fonts/plus-jakarta-sans/PlusJakartaSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: local('Plus Jakarta Sans SemiBold'), local('PlusJakartaSans-SemiBold'),
  url('/fonts/plus-jakarta-sans/PlusJakartaSans-SemiBold.woff2') format('woff2'),
  url('/fonts/plus-jakarta-sans/PlusJakartaSans-SemiBold.woff') format('woff'),
  url('/fonts/plus-jakarta-sans/PlusJakartaSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: local('Plus Jakarta Sans ExtraBold'), local('PlusJakartaSans-ExtraBold'),
  url('/fonts/plus-jakarta-sans/PlusJakartaSans-ExtraBold.woff2') format('woff2'),
  url('/fonts/plus-jakarta-sans/PlusJakartaSans-ExtraBold.woff') format('woff'),
  url('/fonts/plus-jakarta-sans/PlusJakartaSans-ExtraBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Jakarta Mono */
@font-face {
  font-family: 'Jakarta Mono';
  src: url('/fonts/jakarta-mono/JakartaMono-Regular.woff2') format('woff2'),
  url('/fonts/jakarta-mono/JakartaMono-Regular.woff') format('woff'),
  url('/fonts/jakarta-mono/JakartaMono-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  unicode-range: U+20A9;
  font-display: swap;
}

@font-face {
  font-family: 'Jakarta Mono';
  src: url('/fonts/jakarta-mono/JakartaMono-Medium.woff2') format('woff2'),
  url('/fonts/jakarta-mono/JakartaMono-Medium.woff') format('woff'),
  url('/fonts/jakarta-mono/JakartaMono-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  unicode-range: U+20A9;
  font-display: swap;
}

@font-face {
  font-family: 'Jakarta Mono';
  src: url('/fonts/jakarta-mono/JakartaMono-ExtraBold.woff2') format('woff2'),
  url('/fonts/jakarta-mono/JakartaMono-ExtraBold.woff') format('woff'),
  url('/fonts/jakarta-mono/JakartaMono-ExtraBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  unicode-range: U+20A9;
  font-display: swap;
}
