<template>
  <div class="appoint-new-banker">
    <header class="view-header">{{ $t('appoint_new_banker.header') }}</header>
    <div class="players" v-if="availablePlayers.length > 0">
      <div class="player" v-for="player in availablePlayers" :key="player.id" @click="confirmAppointment(player)">
        <div class="icon">
          <font-awesome-icon :icon="'fa-solid ' + (player.isBankrupt ? 'fa-user-lock' : 'fa-user')" />
        </div>
        <div class="player-info">
          <div class="name">{{ player.name }}</div>
          <div class="status">{{ $t('appoint_new_banker.status.' + (player.isBankrupt ? 'bankrupt' : 'in_game')) }}</div>
        </div>
      </div>
    </div>
    <div class="no-players" v-else>
      <div class="icon">
        <font-awesome-icon icon="fa-solid fa-user-ninja" />
      </div>
      {{ $t('appoint_new_banker.no_players') }}
    </div>
  </div>
</template>

<script setup>
import { computed } from 'vue';
import { useGameStore } from '@/stores/game';
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome';
import router from '@/router';
import SocketIoService from '@/services/socketIoService';
import { useNotificationStore } from '@/stores/notification';

const socketIoService = new SocketIoService();
const gameStore = useGameStore();
const notificationStore = useNotificationStore();

const availablePlayers = computed(() => {
  return gameStore.room.players.filter(plr => plr.id !== gameStore.player.id);
});

function confirmAppointment(player) {
  const headerParams = {
    username: player.name
  };
  notificationStore.showConfirmationDialog({
    header: 'confirmation.appoint_new_banker.header',
    headerParams,
    text: 'confirmation.appoint_new_banker.' + (gameStore.player.isBankrupt ? 'text_bankrupt' : 'text_not_bankrupt'),
    acceptButtonStyle: 'success',
    acceptAction: () => {
      socketIoService.socket.emit('appoint_banker', {
        room: gameStore.room.code,
        formerBankerId: gameStore.player.id,
        newBankerId: player.id
      }, async error => {
        if (error) {
          console.error(error);
          notificationStore.putNotification({
            content: 't:' + error.error,
            displayStyle: 'error'
          });
        } else {
          await router.push('/wallet');
        }
      });
    }
  });
}
</script>

<style scoped lang="scss">
.appoint-new-banker {
  display: flex;
  flex-direction: column;
  height: calc(100dvh - 7rem);

  header {
    margin-bottom: 1.5rem !important;
  }

  .no-players {
    color: var(--mb-card-text-secondary-color);
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.3rem;

    .icon {
      font-size: 4rem;
    }
  }

  .players {
    display: flex;
    flex-direction: column;
    gap: .5rem;

    .player {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 1.1rem 0;
      border: 1px solid var(--mb-card-border-color);
      background-color: var(--mb-card-background-color);
      box-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.1);
      border-radius: 1rem;
      cursor: pointer;

      .icon {
        width: 2.6rem;
        margin: 0 .5rem;
        font-size: 1.2rem;
      }

      .player-info {
        text-align: left;

        .name {
          font-weight: 600;
          color: var(--mb-card-text-primary-color);
          font-size: 1.2rem;
          margin-bottom: .2rem;
        }

        .status {
          font-size: .9rem;
          color: var(--mb-card-text-secondary-color);
        }
      }
    }
  }
}
</style>
