<template>
  <div class="auth">
    <div class="auth-form">
      <text-field
          :label="$t('auth.fields.name.label')"
          :placeholder="$t('auth.fields.name.placeholder')"
          v-if="!isUserDefined"
          v-model="userStore.name"
          :max-length="12"
          display-limit
          required
      />
      <div class="logged-in" v-else>
        <i18n-t keypath="auth.fields.name.greeting" tag="span" class="hello">
          <template #username>
            <b>{{ userStore.name }}</b>
          </template>
        </i18n-t>
        <icon-button class="small" @click="isUserDefined = !isUserDefined" button-style="outline">
          <font-awesome-icon icon="fa-solid fa-user-pen" />
        </icon-button>
      </div>
      <text-field
          class="room-code"
          :label="$t('auth.fields.room_code.label')"
          :placeholder="$t('auth.fields.room_code.placeholder')"
          v-model="roomCode"
          :max-length="4"
          @input="checkAvailability"
          required
          enable-slot
      >
        <span class="room-status">{{ roomStatus }}</span>
      </text-field>
      <icon-button
          @click="clickJoinButton"
          :disabled="!userStore.name || !isRoomCodeValid || !roomIsAvailable || loggingIn.inProgress"
          :text="joinButtonText"
      />
      <div class="divider">{{ $t('auth.divider') }}</div>
      <icon-button
          @click="clickCreateNewBankButton"
          :disabled="!userStore.name || loggingIn.inProgress"
          :text="openNewBankButtonText"
      />
    </div>
    <div class="ui-toggles">
      <locale-switcher />
      <color-scheme-switcher />
    </div>
  </div>
</template>

<script setup>
import { computed, onMounted, ref, watch } from 'vue';
import { useI18n } from 'vue-i18n';
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome';
import router from '@/router';
import SocketIoService from '@/services/socketIoService';
import TextField from '@/components/inputs/TextField.vue';
import IconButton from '@/components/controls/IconButton.vue';
import ColorSchemeSwitcher from '@/components/settings/ColorSchemeSwitcher.vue';
import LocaleSwitcher from '@/components/settings/LocaleSwitcher.vue';
import { useUserStore } from '@/stores/user';
import { useGameStore } from '@/stores/game';
import { useNotificationStore } from '@/stores/notification';

const { t } = useI18n({ useScope: 'global' });

const userStore = useUserStore();
const gameStore = useGameStore();
const notificationStore = useNotificationStore();
const socketIoService = new SocketIoService();
const isUserDefined = ref(false);
const roomCode = ref('');
const loggingIn = ref({
  inProgress: false,
  clickedButton: ''
});

const joinButtonText = computed(() => {
  const loggingInVal = loggingIn.value;
  const keyPath = 'auth.buttons.join.' + (loggingInVal.inProgress && loggingInVal.clickedButton === 'join'
      ? 'in_progress'
      : 'idle');
  return t(keyPath);
});

const openNewBankButtonText = computed(() => {
  const loggingInVal = loggingIn.value;
  const keyPath = 'auth.buttons.open_new_bank.' + (loggingInVal.inProgress && loggingInVal.clickedButton === 'new_bank'
      ? 'in_progress'
      : 'idle');
  return t(keyPath);
});

const isRoomCodeValid = computed(() => {
  return !!roomCode.value
      && roomCode.value.length === 4
      && /[A-Za-z]{4}/.test(roomCode.value);
});

onMounted(() => {
  isUserDefined.value = !!userStore.name;
  const onLoadRoomCode = window.location.hash?.substring(1).toUpperCase();
  if (!!onLoadRoomCode && /[A-Z]{4}/.test(onLoadRoomCode)) {
    roomCode.value = onLoadRoomCode;
    checkAvailability();
  }
});

watch(roomCode, (newVal) => {
  roomCode.value = newVal.toUpperCase();
});

const roomAvailabilityChecked = ref(false);
const roomIsAvailable = ref(false);
const roomStatus = computed(() => {
  if (roomAvailabilityChecked.value) {
    const keyPath = 'auth.fields.room_code.availability_status.' + (roomIsAvailable.value ? 'available' : 'not_found');
    return t(keyPath);
  }
  return '';
});

async function checkAvailability() {
  if (isRoomCodeValid.value) {
    try {
      // TODO: move fetch requests to separate service
      const checkResponse = await fetch(`/api/rooms/check-availability/${roomCode.value}`, {
        method: 'GET'
      }).then(response => {
        return response.json();
      }).catch((e) => {
        console.log(e);
        throw new Error('errors.api_request_failed');
      });
      if (checkResponse.ok) {
        roomIsAvailable.value = checkResponse.data;
        roomAvailabilityChecked.value = true;
      } else {
        console.error(checkResponse.error);
        notificationStore.putNotification({
          content: 't:errors.auth.check_availability_response_nok',
          displayStyle: 'error'
        });
      }
    } catch (e) {
      notificationStore.putNotification({
        content: 't:errors.api_request_failed',
        displayStyle: 'error'
      });
    }
  } else {
    roomAvailabilityChecked.value = false;
  }
}

async function requestRoom() {
  const codeResponse = await fetch(`/api/rooms/create`, {
    method: 'GET'
  }).then(response => {
    return response.json();
  }).catch((e) => {
    console.log(e);
    throw new Error('errors.api_request_failed');
  });
  if (codeResponse.ok && codeResponse.data?.code) {
    return codeResponse.data.code;
  } else {
    throw new Error('errors.api_request_failed');
  }
}

async function joinRoom(code) {
  userStore.save();
  gameStore.$patch({
    room: { code }
  });

  socketIoService.playerId = userStore.id;
  socketIoService.socket.connect();

  socketIoService.socket.emit('login', {
    name: userStore.name,
    room: gameStore.room.code
  }, async error => {
    if (error) {
      console.error(error);
      notificationStore.putNotification({
        content: 't:' + error.error,
        displayStyle: 'error'
      });
      disableProgress();
      socketIoService.socket.disconnect();
    } else {
      await router.push('/wallet');
      gameStore.$patch({
        inGame: true
      });
    }
  });
}

async function clickJoinButton() {
  enableProgress('join');
  await joinRoom(roomCode.value);
}

async function clickCreateNewBankButton() {
  enableProgress('new_bank');
  try {
    const code = await requestRoom();
    await joinRoom(code);
  } catch (e) {
    console.error(e);
    notificationStore.putNotification({
      content: 't:' + e.message,
      displayStyle: 'error'
    });
    disableProgress();
  }
}

function enableProgress(clickedButton) {
  loggingIn.value.inProgress = true;
  loggingIn.value.clickedButton = clickedButton;
}

function disableProgress() {
  loggingIn.value.inProgress = false;
  loggingIn.value.clickedButton = '';
}
</script>

<style scoped lang="scss">
.auth {
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
  justify-content: space-between;
  min-height: calc(100dvh - 7rem);

  .auth-form {
    display: flex;
    flex-direction: column;
    gap: 0.9rem;

    .hello {
      text-align: left;
    }

    .logged-in {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }

    .room-status {
      font-weight: 400;
      font-style: italic;
    }

    .divider {
      font-weight: 700;
      font-size: 1.1rem;
    }
  }

  .ui-toggles {
    display: flex;
    justify-content: space-between;
  }
}
</style>
