<template>
  <div class="room">
    <div class="code-section" ref="codeEl">
      <header>{{ $t('room.code_label') }}</header>
      <div class="code-wrap">
        <div class="code">{{ gameStore.room.code }}</div>
        <icon-button @click="copyUrl" class="url-button">
          <font-awesome-icon icon="fa-solid fa-link" />
        </icon-button>
      </div>
    </div>
    <card class="qr">
      <canvas ref="qrEl"></canvas>
    </card>
    <text-button
        v-if="gameStore.player.isBanker"
        :text="$t('room.buttons.close_bank')"
        button-style="danger"
        @click="showDestroyRoomConfirmation"
    />
  </div>
</template>

<script setup>
import QRious from 'qrious';
import useClipboard from 'vue-clipboard3';
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome';
import { computed, onMounted, ref } from 'vue';
import SocketIoService from '@/services/socketIoService';
import Card from '@/components/Card.vue';
import IconButton from '@/components/controls/IconButton.vue';
import TextButton from '@/components/controls/TextButton.vue';
import { useGameStore } from '@/stores/game';
import { useNotificationStore } from '@/stores/notification';

const socketIoService = new SocketIoService();

const gameStore = useGameStore();
const notificationStore = useNotificationStore();
const qrEl = ref(null);
const codeEl = ref(null);
const fullUrl = computed(() => {
  return `${window.location.origin}/#${gameStore.room.code}`;
});

onMounted(() => {
  const cardMargins = 3 * parseFloat(getComputedStyle(document.documentElement).fontSize);
  const size = codeEl.value.getBoundingClientRect().width - cardMargins;
  new QRious({
    element: qrEl.value,
    value: fullUrl.value,
    foreground: '#394053',
    backgroundAlpha: '0.0',
    size
  });
});

const { toClipboard } = useClipboard();

async function copyUrl() {
  try {
    await toClipboard(fullUrl.value);
    notificationStore.putNotification({
      content: 't:room.buttons.copy_url.copied',
      displayStyle: 'success'
    });
  } catch (e) {
    console.error(e);
    notificationStore.putNotification({
      content: 't:errors.room.copy_url_failed',
      displayStyle: 'error'
    });
  }
}

function showDestroyRoomConfirmation() {
  notificationStore.showConfirmationDialog({
    text: 'confirmation.destroy_room.text',
    acceptAction: () => {
      socketIoService.socket.emit('delete_room', { room: gameStore.room.code }, async (error) => {
        if (error) {
          console.error(error);
          notificationStore.putNotification({
            content: 't:' + error.error,
            displayStyle: 'error'
          });
        }
      });
    },
    acceptButtonText: 'confirmation.destroy_room.accept',
    declineButtonText: 'confirmation.destroy_room.decline',
    acceptButtonStyle: 'danger'
  });
}
</script>

<style scoped lang="scss">
.room {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  .code-section {
    text-align: left;

    header {
      font-weight: 700;
      font-size: 1.1rem;
      margin-bottom: 0.5rem;
    }

    .code-wrap {
      display: flex;
      justify-content: space-between;

      .code {
        font-size: 3rem;
        position: relative;
        left: -0.16rem;
      }

      .url-button {
        font-size: 1.5rem;
      }
    }
  }

  .qr {
    background: var(--mb-room-qr-background-color);
  }
}
</style>
