<template>
  <div class="transfer">
    <header class="view-header">{{ $t('transfer.header') }}</header>
    <select-field v-model="sender" required :label="$t('transfer.fields.sender.label')" :options="availableSources" />
    <select-field v-model="recipient" required :label="$t('transfer.fields.recipient.label')" :options="availableRecipients" />
    <div>
      <number-field v-model="amount" required :label="$t('transfer.fields.amount.label')" class="amount" enable-slot>
        <i18n-t keypath="transfer.fields.amount.max_amount" tag="span" class="available-funds">
          <template #max_amount>
            <span class="money">{{ availableFunds }}</span>
          </template>
        </i18n-t>
      </number-field>
      <div class="add-bill-buttons">
        <div class="bill" v-for="bill in bills" @click="addBill(bill)">
          +<span class="money">{{ bill }}</span>
        </div>
      </div>
    </div>
    <text-field
        v-model="description"
        :label="$t('transfer.fields.message.label')"
        :max-length="30"
        display-limit
        :placeholder="$t('transfer.fields.message.placeholder')"></text-field>
    <text-button :disabled="!isAmountValid || transferInProgress" @click="transfer" :text="transferButtonText" />
  </div>
</template>

<script setup>
import { computed, ref } from 'vue';
import { useI18n } from 'vue-i18n';
import router from '@/router';
import SocketIoService from '@/services/socketIoService';
import SelectField from '@/components/inputs/SelectField.vue';
import NumberField from '@/components/inputs/NumberField.vue';
import TextField from '@/components/inputs/TextField.vue';
import TextButton from '@/components/controls/TextButton.vue';
import { useGameStore } from '@/stores/game';
import { useUserStore } from '@/stores/user';
import { useNotificationStore } from '@/stores/notification';

const { t } = useI18n({ useScope: 'global' });

const socketIoService = new SocketIoService();
const gameStore = useGameStore();
const userStore = useUserStore();
const notificationStore = useNotificationStore();
const sender = ref('');
const recipient = ref('');
const amount = ref(0);
const description = ref('');
const transferInProgress = ref(false);
const bills = [ 1, 5, 10, 20, 50, 100, 500 ];

const availableSources = computed(() => {
  const result = [];
  if (!gameStore.player.isBankrupt) {
    result.push({
      name: t('transfer.default_selections.wallet'),
      value: gameStore.player.id
    });
  }
  if (gameStore.player.isBanker) {
    result.push({
      name: t('transfer.default_selections.bank'),
      value: 'bank'
    });
  }
  return result;
});

const availableRecipients = computed(() => {
  const result = [];
  if (sender.value === gameStore.player.id) {
    result.push({
      name: t('transfer.default_selections.bank'),
      value: 'bank'
    });
    gameStore.room.players
        .filter(plr => plr.name !== userStore.name && !plr.isBankrupt)
        .forEach(player => result.push({
      name: player.name,
      value: player.id
    }));
  } else {
    gameStore.room.players.filter(plr => !plr.isBankrupt).forEach(player => result.push({
      name: player.name === userStore.name ? t('transfer.default_selections.wallet') : player.name,
      value: player.id
    }));
  }
  recipient.value = result[0]?.value;
  return result;
});

const availableFunds = computed(() => {
  if (sender.value === gameStore.player.id) {
    return gameStore.player.funds;
  } else {
    return gameStore.room.funds;
  }
});

const isAmountValid = computed(() => {
  if (sender.value === gameStore.player.id) {
    return amount.value > 0 && amount.value <= gameStore.player.funds;
  } else {
    return amount.value > 0 && amount.value <= gameStore.room.funds;
  }
});

const transferButtonText = computed(() => {
  return t('transfer.buttons.transfer.' + (transferInProgress.value ? 'in_progress' : 'idle'));
});

function transfer() {
  transferInProgress.value = true;
  socketIoService.socket.emit('transfer', {
    room: gameStore.room.code,
    sender: sender.value,
    recipient: recipient.value,
    amount: amount.value,
    description: description.value || null
  }, async error => {
    if (error) {
      console.error(error);
      transferInProgress.value = false;
      notificationStore.putNotification({
        content: 't:' + error.error,
        displayStyle: 'error'
      });
    } else {
      await router.push('/wallet');
    }
  });
}

function addBill(bill) {
  amount.value += bill;
}
</script>

<style scoped lang="scss">
.transfer {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .amount :deep(input) {
    font-size: 2.4rem;
  }

  .available-funds {
    color: var(--mb-font-color);
    font-weight: 400;
  }

  .add-bill-buttons {
    overflow-x: scroll;
    text-align: left;
    white-space: nowrap;
    overflow-y: visible;
    margin-top: 0.2rem;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      background: transparent;
      height: 0;
    }

    .bill {
      border: 1px solid var(--mb-bill-button-background-color);
      border-radius: 1rem;
      padding: 0.4rem 0.7rem;
      display: inline-block;
      margin-right: 0.6rem;
      background: var(--mb-bill-button-background-color);
      cursor: pointer;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
</style>
