<template>
  <div class="transactions">
    <header class="view-header">{{ $t('transactions.header') }}</header>
    <selector
        v-if="gameStore.player.isBanker"
        :options="selectorOptions"
        v-model="selectorValue"
        default-value="wallet"
    />
    <transactions-list :only-bank-transactions="onlyBankTransactions" :transactions="transactions" />
  </div>
</template>

<script setup>
import { computed, ref } from 'vue';
import TransactionsList from '@/components/transactions/TransactionsList.vue';
import Selector from '@/components/inputs/Selector.vue';
import { useGameStore } from '@/stores/game';

const gameStore = useGameStore();
const transactions = computed(() => {
  return onlyBankTransactions.value ? gameStore.bankTransactions : gameStore.playerTransactions;
});
const selectorValue = ref('wallet');
const selectorOptions = [
  {
    text: 'transactions.selector.wallet',
    value: 'wallet'
  },
  {
    text: 'transactions.selector.bank',
    value: 'bank'
  }
];

const onlyBankTransactions = computed(() => {
  return selectorValue.value === 'bank';
});
</script>

<style scoped lang="scss">
.transactions {
  header {
    margin-bottom: 1.5rem !important;
  }

  .selector {
    margin-bottom: 1rem;
  }
}
</style>
