<template>
  <div class="wallet" v-if="gameStore.inGame">
    <div class="head">
      <header class="view-header">{{ $t('wallet.greeting', { username: userStore.name }) }}</header>
      <div class="buttons">
        <icon-button
            class="small"
            v-if="gameStore.player.isBanker"
            button-style="outline"
            @click="router.push('/appoint-new-banker')">
          <font-awesome-icon icon="fa-solid fa-key" />
        </icon-button>
        <icon-button class="small" v-if="!gameStore.player.isBankrupt" button-style="danger outline" @click="declareBankruptcy">
          <font-awesome-icon icon="fa-solid fa-person-walking-arrow-right" />
        </icon-button>
      </div>
    </div>
    <div class="balance-cards">
      <card :title="$t('wallet.wallet_balance_card_title')" :class="gameStore.player.isBanker ? 'mini' : ''">
        <div class="balance money">{{ gameStore.player.funds }}</div>
      </card>
      <card
          :title="$t('wallet.bank_balance_card_title')"
          :class="gameStore.player.isBanker ? 'mini' : ''"
          v-if="gameStore.player.isBanker"
      >
        <div class="balance money">{{ gameStore.room.funds }}</div>
      </card>
    </div>
    <icon-button
        :text="$t('wallet.buttons.transfer')"
        @click="router.push('/transfer')"
        :disabled="!ableToTransfer">
      <font-awesome-icon icon="fa-solid fa-money-bill-transfer" />
    </icon-button>
    <section-header
        text="wallet.recent_transactions_title"
        link="/transactions"
        link-text="wallet.buttons.transactions"
    />
    <transactions-list :transactions="gameStore.lastPlayerTransactions" />
  </div>
</template>

<script setup>
import { computed } from 'vue';
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome';
import router from '@/router';
import SocketIoService from '@/services/socketIoService';
import Card from '@/components/Card.vue';
import IconButton from '@/components/controls/IconButton.vue';
import TransactionsList from '@/components/transactions/TransactionsList.vue';
import SectionHeader from '@/components/SectionHeader.vue';
import { useUserStore } from '@/stores/user';
import { useGameStore } from '@/stores/game';
import { useNotificationStore } from '@/stores/notification';

const socketIoService = new SocketIoService();
const gameStore = useGameStore();
const userStore = useUserStore();
const notificationStore = useNotificationStore();

const ableToTransfer = computed(() => {
  return gameStore.player.funds > 0 || (gameStore.player.isBanker && gameStore.room.funds > 0);
});

function declareBankruptcy() {
  notificationStore.showConfirmationDialog({
    text: 'confirmation.declare_bankruptcy.text_' + (gameStore.player.isBanker ? 'banker' : 'player'),
    acceptButtonText: 'confirmation.declare_bankruptcy.accept',
    acceptButtonStyle: 'danger',
    acceptAction: () => {
      socketIoService.socket.emit('bankrupt', {
        room: gameStore.room.code,
        playerId: gameStore.player.id
      }, async (error) => {
        if (error) {
          console.error(error);
          notificationStore.putNotification({
            content: 't:' + error.error,
            displayStyle: 'error'
          });
        }
      });
    },
    declineButtonText: 'confirmation.declare_bankruptcy.decline'
  });
}
</script>

<style scoped lang="scss">
.wallet {
  display: flex;
  gap: 1rem;
  flex-direction: column;

  .head {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .view-header {
      margin-bottom: 0 !important;
    }

    .buttons {
      display: flex;
      gap: 0.5rem;
    }
  }
}

.money:before {
  font-weight: 500;
  padding-right: 0.3rem;
}

.balance-cards {
  display: flex;
  gap: 1rem;

  .balance {
    font-size: 3.5rem;
    font-weight: 900;
  }

  .mini {
    .balance {
      font-size: 1.8rem;
    }
  }
}
</style>
